/* Primeira parte */

.cabeca {
    background-color: #4271b3;
    position: relative;
    top: -10px;
    left: -10px;
    
}

span {
    color: rgb(172, 20, 20);
}
.logo {
    margin-left: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 24px;
    background-color: #4271b3;
    position: relative;
    right: -10px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 48px;
    position: relative;
    top: -40px;
    
}


.dois {
    background-color: #4271b3;
    position: relative;
    top: -50px;
}

.titulo {
    margin-left: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 48px;
    background-color: #4271b3;
}

.convite {
    margin-left: 55px;
    position: relative;
    top: -35px;
    color: whitesmoke;
}

.director {
    width: 500px;
    height: 200px;
    margin-left: auto;
    position: relative;
    bottom: 60px;
}

#bot {
    margin-left: 48px;
    position: relative;
    top: -250px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 250);
}

/* Segunda parte */

h2 {
    text-align: center;
    font-size: 30px;
}

.texto {
    background-color: #fff2cc;
    position: relative;
    top: -100px;
}

.filmes {
    display: flex;
    gap: 100px;

    padding: 24px;
    margin: auto;
}

.one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 15px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 15px;
}

.three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}


.four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}


.yo {
    border: 12px solid #4271b3;
    border-radius: 12px;
}

.viver {
    border: 12px solid #4271b3;
    border-radius: 12px;
}

.trono {
    border: 12px solid #4271b3;
    border-radius: 12px;
}

.lear {
    border: 12px solid #4271b3;
    border-radius: 12px;
}

.pala {
    font-weight: 700;
}

/* Terceira Parte */

.frase {
    position: relative;
    top: -120px;
    background-color: rgb(164, 193, 219);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.cliente {
    padding-left: 300px;
}


/* Quarta Parte */

.fim {
    display: flex;
    flex: wrap;
    text-align: center;
    gap: 10px;
}